<main>
  <div class= "container px-5 px-sm-0">
    <div class= "row">
      <div class= "col-md-3">

<!-- ユーザーの詳細 -->
        <%= render 'users/userinfo', user: @user %>

<!-- 新規投稿 -->
        <%= render 'books/post', book: @book %>
      </div>
<!-- ユーザーの一覧 -->
        <%= render 'index',users: @users %>
    </div>
  </div>
</main>